
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nanum Myeongjo', serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$theme-gray: #636b6f;
$theme-gold: #a98d25;
$theme-green: #4dc0b5;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
